*.exp
logs.zip
docker-compose.yml
test_cat.py
data/
__pycache__/
*.py[cod]
.DS_Store
media-assistant/.env
media-assistant/postgres-data/
media-assistant/data/
.env
.env.*
*.pyc
media-assistant/**/.env
media-assistant/**/node_modules/
